.card-footer  {

  padding: 0 1rem;
}

.card-footer p {

  margin: 0;
}

.card-footer button  {

  padding: .8rem;
  border: 1px solid #212121;
  cursor: pointer;
}

.card-footer .row  {

  padding: 0 1rem;
}

.card-footer .column  {

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.post  {

  margin-bottom: 2rem;
}
