.card-header  {

  display: flex;
  align-items: center;
}

.card-header .avatar  {

  border-radius: 100%;
  border: 1px solid #212121;
  padding: 25px 25px;
  margin-right: 1rem;
}

.card-img  {

  display: flex;
  align-items: center;
}

.card-img img  {

  left: -12px;
}

.card-img .prev  {

  position: relative;
  top: 0;
  left: 2rem;
  z-index: 1;
  cursor: pointer;
  color: #212121;
  transition: .5s;
}

.card-img .prev:hover  {

  color: #f44336;
  transition: .5s;
  transform: scale(2, 2);
}

.card-img .prev:before  {

  content: '';
  font-family: 'fontawesome';
  font-size: 32px;
}

.card-img .next {

  position: relative;
  top: 0;
  right: 3rem;
  cursor: pointer;
  color: #212121;
  transition: .5s;
}

.card-img .next:hover  {

  color: #03A9F4;
  transition: .5s;
  transform: scale(2, 2);
}

.card-img .next:before  {

  content: '';
  font-family: 'fontawesome';
  font-size: 32px;
}

.description  {

  display: flex;
  justify-content: space-between;
  padding: 1.4rem 1rem;
  border-bottom: 1px solid #dad7d7;
}

.description h4, p  {

  margin: 0;
}

.votes p {

  margin: 0 1rem 0 0;
}

.votes button  {

  padding: 12px 14px;
  cursor: pointer;
  margin-right: 1rem;
  border-radius: 100%;
}

.votes .voteA  {

  border: 1px solid #03A9F4;
  transition: .5s;
}

.votes .voteA:hover  {

  border-color: #03A9F4;
  background-color: #03A9F4;
  color: #fff;
  transition: .5s;
}

.focused_vote_A  {

  border-color: #03A9F4;
  background-color: #03A9F4;
  color: #fff;
  transition: .5s;
}

.votes .voteB  {

  border: 1px solid #f44336;
  transition: .5s;
}

.votes .voteB:hover  {

  border-color: #f44336;
  background-color: #f44336;
  color: #fff;
  transition: .5s;
}

.focused_vote_B  {

  border-color: #f44336;
  background-color: #f44336;
  color: #fff;
  transition: .5s;
}

.votes  {

  padding: 1rem;
  display: flex;
  align-items: center;
}

.post  {

  margin-bottom: 2rem;
}
