<div class="card post">
  <div class="card-header">
    <span class="avatar"></span>
    <h4>Ismail</h4>
  </div>
  <div class="both">

    <div class="card-img">
      <img src="../assets/meh.jpg" alt="">
    </div>

    <div class="card-img">
      <img src="../assets/meh2.jpg" alt="">
    </div>

  </div>
  <div class="card-footer description">
    <h4>Description</h4>
    <p>1 hour ago</p>
  </div>
  <div class="card-footer votes">
    <div class="row">

      <div class="column small-6">
        <div class="right">
          <p class="{{hide}}">{{voteB}}</p>
          <button data-tooltip="Before" (click)="voteBefore()" class="voteB {{focusB}}">B</button>
        </div>
      </div>

      <div class="column small-6">
        <button data-tooltip="After" (click)="voteAfter()" class="voteA {{focusA}}">A</button>
        <p class="{{hide}}">{{voteA}}</p>
      </div>

    </div>
  </div>
</div>
